{% extends 'base.html' %}

{% load static%}
{% load imgcache %}




{% block content%}

{% csrf_token %}

	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="{% static 'img/home/home__bg.jpg'%}"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">

					{% if movie %}
						
					{% endif %}

					{% if movie %}
						<h1 class="details__title">{{movie.movie_name}}</h1>
					{% else %}
						<h1 class="details__title">New Release</h1>
					{% endif %}
					
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">

									{% if movie %}
										<img src="https://drive.google.com/uc?export=view&id={{movie.poster}}" style="width: 230px; height: 355px" alt="">
									{% else %}
										<img src="{% static 'img/covers/cover.jpg'%}" alt="">
									{% endif %}
									
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{movie.ratting}}</span>

										<ul class="card__list">
											<li>HD</li>
											<li>16+</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li><span>Genre:</span> <a href="#">{{movie.genre}}</a>
										</li>
										<li><span>Release Date:</span> {{movie.release_date}}</li>
										<li><span>Running time:</span> {{movie.running_time}} min</li>
										<li><span>Country:</span> <a href="#">India</a> </li>
									</ul>

									<div class="card__description card__description--details">
										{{movie.description}}
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<!-- player -->
				<div class="col-12 col-xl-6">
					 <video controls playsinline id="player">

					 	{% if is_plan_available %}

						 	<source src="https://drive.google.com/uc?export=view&id={{movie.video}}" type="video/mp4" size="576">
							<source src="https://drive.google.com/uc?export=view&id={{movie.video}}" type="video/mp4" size="720">
							<source src="https://drive.google.com/uc?export=view&id={{movie.video}}" type="video/mp4" size="1080">
							<source src="https://drive.google.com/uc?export=view&id={{movie.video}}" type="video/mp4" size="1440">

							
						{% else %} 
						<!-- Video files -->
							<source src="" type="video/mp4" size="576"> 
						{% endif %}

						<!-- Caption files -->
						
						<!-- Fallback for browsers that don't support the <video> element -->
						
					</video>
					<div><br>

					{% if is_plan_available %}
						<a href="https://drive.google.com/uc?export=download&id={{movie.video}}" class="header__sign-in" download = "{{movie.video}}">
									<i class="icon ion-ios-log-in"></i>
									<span>Download</span>
					{% else %}
						<a href="/pricing" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Download</span>
					{% endif %}
					
					</a>
				</div>
					
					
				</div>

				
				<!-- end player -->

				<div class="col-12">
					<div class="details__wrap">
						<!-- availables -->
						<div class="details__devices">
							<span class="details__devices-title">Available on devices:</span>
							<ul class="details__devices-list">
								<li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
								<li><i class="icon ion-logo-android"></i><span>Android</span></li>
								<li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
								<li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
							</ul>
						</div>
						<!-- end availables -->

						
					</div>
				</div>
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

{%endblock%}